<div class="login-form outline">
  <form>
    <table>
      <tr>
        <td>
          <h3>Sign Up</h3>
          <label>Name:</label>
          <input type="text" ng-model="$ctrl.user.name">
          <label>Email:</label>
          <input type="email" ng-model="$ctrl.user.email">
          <label>Password:</label>
          <input type="password" ng-model="$ctrl.user.password"><br>
          <button ng-click="$ctrl.signup()" class="signup-button">Sign Up</button>
        </td>
        <td>
          <h3>Log In</h3>
          <label>Email:</label>
          <input type="email" ng-model="$ctrl.user.email">
          <label>Password:</label>
          <input type="password" ng-model="$ctrl.user.password"><br>
          <button ng-click="$ctrl.login()" class="login-button">Sign Up</button>
        </td>
      </tr>
    </table>
  </form>
  <div id="login-result" ng-show="$ctrl.result">{{$ctrl.message}}</div>
</div>
