<div class="login-form outline flex-container">
  <div>
    <form>
      <h3>Sign Up</h3>
      <label>Name:</label>
      <input type="text" ng-model="$ctrl.user.name">
      <label>Email:</label>
      <input type="email" ng-model="$ctrl.user.email">
      <label>Password:</label>
      <input type="password" ng-model="$ctrl.user.password"><br>
      <button class="button-primary" ng-click="$ctrl.signup()">Sign Up</button>
    </form>
  </div>
  <div>
    <form>
      <h3>Log In</h3>
      <label>Email:</label>
      <input type="email" ng-model="$ctrl.user.email">
      <label>Password:</label>
      <input type="password" ng-model="$ctrl.user.password"><br>
      <button class="button-primary" ng-click="$ctrl.login()">Log In</button>
    </form>
  </div>
  <div id="login-result" ng-show="$ctrl.result">{{$ctrl.message}}</div>
</div>
