.image-list {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.imago {
  max-width: 95%;
  border: 1px solid black;
  margin: 3rem 0;
  padding: 1rem;
  background-color: #dcd;
}

.img-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.img-desc {
  padding: 1rem 0;
}
