.list-table {
  margin: 2%;
  width: 100%;
}

.text-list-item {
  display:table-row;
}

.list-item-container {
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.text-title, .text-desc, .text-url {
  display: table-cell;
  overflow: hidden;
  white-space: wrap;
  padding: .5rem;
}

.text-title {
  background: #fcc;
}

.text-desc {
  background: #aaa;
}

.text-url {
  background: #bab;
}
