<h1 class="gallery-title">Image Gallery</h1>

<div class="choice-buttons">
  <button id="list-button" ng-click="$ctrl.chooseFrame('list')">List View</button>
  <button id="thumbnail-button" ng-click="$ctrl.chooseFrame('thumb')">Thumbnails</button>
  <button id="fullsize-button" ng-click="$ctrl.chooseFrame('full')">Full Images</button>
  <button id="add-image-button" ng-click="$ctrl.showAddForm()">Add Image</button>
</div>

<div ng-show="$ctrl.list">
  <text-list images="$ctrl.images"></text-list>
</div>
<div ng-show="$ctrl.thumb">
  <thumbs images="$ctrl.images"></thumbs>
</div>
<div ng-show="$ctrl.full">
  <images images="$ctrl.images"></images>
</div>
