<div class="container">

  <section class="row" >
    <div class="four columns">
      <h4>Image Gallery</h4>
    </div>
    <div class="u-pull-right">
      <button class="button-primary" ui-sref="home">Home</button>
      <button class="button-primary" ng-click="$ctrl.navSelect('list')">List View</button>
      <button class="button-primary" ng-click="$ctrl.navSelect('thumbs')">Thumbnails</button>
      <button class="button-primary" ng-click="$ctrl.navSelect('full')">Full Images</button>
    </div>
  </section>

  <!--<section class="row twelve columns">
    <select ng-model="$ctrl.gallery" ng-change="$ctrl.selectGallery()">
      <option value="all">{{$ctrl.defaulChoiceText}}</option>
      <option ng-repeat="gallery in $ctrl.galleries" value="{{gallery._id}}">{{gallery.name}}</option>
    </select>
    <button class="button-primary" ng-click="$ctrl.toggleImageForm()">Add Image To Database</button>
    <button class="button-primary" ng-click="$ctrl.toggleNewGallerySubForm()">Start A New Gallery</button>
    <button class="button-primary" ng-click="$ctrl.toggleImageToGalleryForm()">Add Image To A Gallery</button>
  </section>
  <section class="row twelve columns" ng-show="$ctrl.addImageSubForm">
    <add-image-form submit-image="$ctrl.submitImage"></add-image-form>
  </section>
  <section class="row twelve columns" ng-show="$ctrl.newGallerySubForm">
    <add-gallery-form submit-gallery="$ctrl.submitGallery" galleries="$ctrl.galleries"></add-gallery-form>
  </section>
  <section class="row twelve columns" ng-show="$ctrl.addImageToGallerySubForm">
    <add-image-to-gallery gallery="$ctrl.gallery" galleries="$ctrl.galleries"></add-gallery-form>
  </section>-->

  <!--<ui-view name="header"></ui-view>-->
  <section class="row twelve columns">
    <ui-view></ui-view>
  </section>
  <!--<ui-view name="footer"></ui-view>-->

</div>
