.thumb-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: flex-start;
}

.thumb-pic {
  max-width: 100px;
  max-height: 100px;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
  background: #888;
}
