<div class="add-image-form">
  <h3>Add New Image</h3>
  <form>
    <div>
      <label>Title:</label>
      <input ng-model="$ctrl.image.title">
    </div>
    <div>
      <label>Description:</label>
      <input ng-model="$ctrl.image.description">
    </div>
    <div>
      <label>Link:</label>
      <input ng-model="$ctrl.image.url">
    </div>
  </form>
  <button ng-click="$ctrl.submit()" class="add-image-button">Submit</button>
  <div id="add-result" ng-show="$ctrl.result">{{$ctrl.message}}</div>
</div>
