<section>
  <h4>Sign Up Below to Start Managing Your Photo Albums</h4>
  <form name="auth" ng-submit="auth.$valid && $ctrl.authenticate()"
        novalidate>
      <md-input-container>
          <label>E-mail:</label>
          <input
              name="email"
              required
              ng-model="$ctrl.credentials.email"/>
              <div ng-messages="auth.email.$error" role="alert">
                  <div ng-message="required">An e-mail address is required</div>
              </div>
      </md-input-container>
      <md-input-container>
          <label>Username:</label>
          <input
              name="username"
              required
              ng-model="$ctrl.credentials.username"/>
          <div ng-messages="auth.username.$error" role="alert">
              <div ng-message="required">A username is required</div>
          </div>
      </md-input-container>
      <md-input-container>
          <label>Password:</label>
          <input
              name="password"
              required
              ng-model="$ctrl.credentials.password">
            <div ng-messages="auth.password.$error" role="alert">
                <ng-message when="required">A password is required</ng-message>
            </div>
      </md-input-container>
      <md-dialog-actions>
        <md-button type="submit" class="md-primary">Sign Up!</md-button>
      </md-dialog-actions>
      <md-dialog-actions>
        <md-button ng-click="$ctrl.action = 'cancel'" class="md-primary">Cancel</md-button>
      </md-dialog-actions>
  </form>
  <div class="error" ng-if="$ctrl.error">{{$ctrl.error.reason}}</div>
</section>
